@import "../../index.scss";

.todo__create {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;

  &:hover {
    color: $primary;
    & > .todo__create__button {
      background-color: $primary;
      color: $white;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2.6rem;
    font-size: 2.4rem;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
  }

  &__text {
    // color: $grey-dark;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.2rem;
  }
}
